body {
  background-color: #000000;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#body {
  margin: 0 auto;
  position: relative;
}

#header {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  top: 20px;
  text-align: center;
}

p{
  color: #fff;
}

h3{
  color: #fff;
}

.legend {
  position: absolute;
  top: 0px;
  right: 0;
  width: 330px;
  font-size: 11px;
  color: rgb(255, 255, 255);
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
  fill: rgb(255, 255, 255);
}

path.link {
  fill: none;
  stroke: rgb(255, 0, 0);
  stroke-width: 1px;
}
